body
{
  max-height: 1200px;
}

/*Start container body div*/
#containerBody
{
  float: left;
  height: 1200px;
  left: 5%;
  line-height: 2;
  margin: auto;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 20%;
  width: 80%;
}

/*Start First Div*/
#first_div
{
  font-size: 24px;
  text-align: center;
  width: 50%;
}
/*End First Div*/

/*Start Second Div*/
#second_div
{
  font-size: 16px;
  height: 300px;
  left: 50%;
  position: absolute;
  text-align: center;
  top: 4.5%;
  width: 50%;
}

#customer_img
{
  visibility: hidden;
}
#customer_li
{
  left: 15%;
  position: absolute;
  top: 95%;
}

#finesse_img
{
  visibility: hidden;
}
#finesse_li
{
  left: 60%;
  position: absolute;
  top: 60%;
}

#self_img
{
  visibility: hidden;
}
#self_li
{
  left: 15%;
  position: absolute;
  top: 25%;
}

#student_img
{
  visibility: hidden;
}
#student_li
{
  left: 60%;
  position: absolute;
  top: 95%;
}

#team_img
{
  visibility: hidden;
}
#team_li
{
  left: 15%;
  position: absolute;
  top: 60%;
}

#time_img
{
  visibility: hidden;
}
#time_li
{
  left: 60%;
  position: absolute;
  top: 25%;
}
/*End Second Div*/

/*Start Third Div*/
#third_div
{
  height: 500px;
  float: left;
  font-size: 16px;
  position: absolute;
  text-align: center;
  top: 550px;
  width: 100%;
}
#cuphead_img
{
  height: 45%;
  width: 45%;
}
#doc_img
{
  height: 45%;
  width: 45%;
}
#ipta_img
{
  height: 45%;
  width: 45%;
}
#skyrim_img
{
  height: 45%;
  width: 45%;
}
/*End Third Div*/

/*End container body div*/

#containerFooter
{
  left: 75%;
  line-height: 1;
  margin: auto;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 1200px;
  width: 25%;
}


@media screen and (max-width:960px)
{
  #first_div
  {
    width: 55%;
  }
  #second_div
  {
    font-size: 14px;
    left: 55%;
    width: 45%;
  }
  #self_li
  {
    left: 5%;
  }
  #time_li
  {
    left: 55%;
  }
  #team_li
  {
    left: 5%;
  }
  #finesse_li
  {
    left: 55%;
  }
  #customer_li
  {
    left: 5%;
  }
  #student_li
  {
    left: 50%;
  }
}
@media screen and (max-width:768px)
{
  #containerBody
  {
    top: 15%;
    width: 92%;
  }
  #first_div
  {
    width: 70%;
  }
  #second_div
  {
    left: 70%;
    width: 30%;
  }

  #customer_img
  {
    height: 80px;
    left: 1%;
    position: absolute;
    top: 95%;
    visibility: visible;
    width: 80px;
  }
  #customer_li
  {
    visibility: hidden;
  }

  #finesse_img
  {
    height: 80px;
    left: 50%;
    position: absolute;
    top: 60%;
    visibility: visible;
    width: 80px;
  }
  #finesse_li
  {
    visibility: hidden;
  }

  #self_img
  {
    height: 80px;
    left: 1%;
    position: absolute;
    top: 25%;
    visibility: visible;
    width: 80px;
  }
  #self_li
  {
    visibility: hidden;
  }

  #student_img
  {
    height: 80px;
    left: 50%;
    position: absolute;
    top: 95%;
    visibility: visible;
    width: 80px;
  }
  #student_li
  {
    visibility: hidden;
  }

  #team_img
  {
    height: 80px;
    left: 1%;
    position: absolute;
    top: 60%;
    visibility: visible;
    width: 80px;
  }
  #team_li
  {
    visibility: hidden;
  }

  #time_img
  {
    height: 80px;
    left: 50%;
    position: absolute;
    top: 25%;
    visibility: visible;
    width: 80px;
  }
  #time_li
  {
    visibility: hidden;
  }
}
@media screen and (max-width:600px)
{
  header
  {
    max-height: 1000px;
  }

  #containerBody
  {
    overflow: visible;
    width: 90%;
  }
  #first_div
  {
    margin: auto;
    width: 100%;
  }

  #second_div
  {
    font-size: 14px;
    height: 200px;
    left: 0%;
    top: 500px;
    width: 100%;
  }
  #customer_img
  {
    height: 90px;
    left: 5%;
    top: 95%;
    width: 90px;
  }
  #finesse_img
  {
    height: 90px;
    left: 60%;
    top: 60%;
    width: 90px;
  }
  #self_img
  {
    height: 90px;
    left: 5%;
    top: 20%;
    width: 90px;
  }
  #student_img
  {
    height: 90px;
    left: 60%;
    top: 95%;
    width: 90px;
  }
  #team_img
  {
    height: 90px;
    left: 5%;
    top: 60%;
    width: 90px;
  }
  #time_img
  {
    height: 90px;
    left: 60%;
    top: 20%;
    width: 90px;
  }

  #third_div
  {
    height: 600px;
    top: 800px;
  }
  #cuphead_img
  {
    height: 25%;
    width: 75%;
  }
  #doc_img
  {
    height: 25%;
    width: 75%;
  }
  #ipta_img
  {
    height: 25%;
    width: 75%;
  }
  #skyrim_img
  {
    height: 25%;
    width: 75%;
  }

  #containerFooter
  {
    font-size: 14px;
    top: 1600px;
  }
}
@media screen and (max-width:480px)
{
  #containerBody
  {
    top: 10%;
    width: 92%;
  }
  #cuphead_img
  {
    height: 25%;
    width: 95%;
  }
  #ipta_img
  {
    height: 25%;
    width: 95%;
  }
  #doc_img
  {
    height: 25%;
    width: 95%;
  }
  #skyrim_img
  {
    height: 25%;
    width: 95%;
  }
  #containerFooter
  {
    left: 50%;
    top: 1550px;
    width: 50%;
  }
}
